#logo{
    width: 7%;
    height: 7%;
    margin-left: 5%;
    float: left;
}

#header{
    display: flex;
    flex-direction: row;
    
    
}

#title{
    display: block;
    padding-left: 2%;
    padding-top: 2%;
    line-height: 5px;
    text-shadow: 1px 1px 5px #666;
}

#title p{
    font-size: 14.5px;
}

@media screen and (max-width: 884px) {
    #logo{
        width: 12%;
        margin-top: 10px;
    }

    #title{
        font-size:100%;
    }
}